body, html {
    margin: 0;
    padding: 1%;
    font-family: 'American Typewriter', sans-serif;
    font-weight: bold;
    height: 100vh;
    background-color: #fff8dc;
}

nav {
    background-color: #fff8dc;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 60px;
    border: 3px solid black;
    border-bottom: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
}

nav li {
    margin: 0;
}

nav li:first-child {
    flex: 6;  /* 60% of the width */
}

nav li:nth-child(2), nav li:nth-child(3) {
    flex: 2;  /* 20% of the width */
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black; 
    text-align: center;
    padding: 0; 
    text-decoration: none;
    background-color: #fff8dc;
    border-left: 3px solid black;
    border-right: 3px solid black;
    height: 100%;
    width: 100%;
}

nav li:first-child a {
    border-left: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.container {
    border: 3px solid black;
    width: calc(100% - 6px);
}

section {
    padding: 60px 0;
    text-align: center;
    border-bottom: 3px solid black; /* Added border between sections */
}

/* Remove bottom border for the last section */
section:last-of-type {
    border-bottom: none;
}

#weiwu-section, #lens-section, #mind-section, #section1, #section2, #section3, #section4, #section5 {
    background-color: #fff8dc;
}

.collapsed {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;  /* Change this to adjust the height when collapsed */
    overflow: hidden;
    padding: 0;
}
